<a href="https://colab.research.google.com/github/LToni51/LToni51/blob/main/PYSPARK_ORANIZA%C3%83O_E_MANIPULA%C3%87%C3%83O_DE_PLANILHAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)

IMPORTAÇÃO DE BIBLIOTECAS E FUNÇÕES

In [ ]:
import os
import sys

os.environ ['PYSPARK_PYTHON'] = sys.executable
os.environ ['PYSPAR_DRIVER_PYTHON'] = sys.executable

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import*
from pyspark.sql.types import *

***Criar / iniciar sessão ***

In [ ]:
spark = (

         SparkSession.builder
         .master('local')
         .appName('pyspark_01')
         .getOrCreate()

)

Criar Data Frame / Ler o arquivo

In [ ]:
df = spark.read.csv('titanic.csv',header=True,inferSchema=True)

EXIBIR DF

In [ ]:
df.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

VERIFICAR O TIPO DE COLUNA

In [ ]:
df.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

VERIFICAR DADOS NULOS

In [ ]:
df.toPandas().isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
for coluna in df.columns:
  print(coluna,df.filter(df[coluna].isNull()).count())

PassengerId 0
Survived 0
Pclass 0
Name 0
Sex 0
Age 177
SibSp 0
Parch 0
Ticket 0
Fare 0
Cabin 687
Embarked 2

para mudar o nome da coluna

In [ ]:
df.withColumnRenamed('Age', 'Idade').show()

+-----------+--------+------+--------------------+------+-----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Idade|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+-----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male| 22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female| 26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female| 35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male| 35.0|    0|    0|          373450|   8.05| NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male| NULL|    0|    0|          330877| 8.4583| NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male| 54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|  2.0|    3|    1|          349909| 21.075| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female| 27.0|    0|    2|          347742|11.1333| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female| 14.0|    1|    0|          237736|30.0708| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|  4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female| 58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male| 20.0|    0|    0|       A/5. 2151|   8.05| NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male| 39.0|    1|    5|          347082| 31.275| NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female| 14.0|    0|    0|          350406| 7.8542| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female| 55.0|    0|    0|          248706|   16.0| NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|  2.0|    4|    1|          382652| 29.125| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male| NULL|    0|    0|          244373|   13.0| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female| 31.0|    1|    0|          345763|   18.0| NULL|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female| NULL|    0|    0|            2649|  7.225| NULL|       C|
+-----------+--------+------+--------------------+------+-----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [ ]:
df.withColumnRenamed('Name', 'Nome').show(2)

+-----------+--------+------+--------------------+------+----+-----+-----+---------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Nome|   Sex| Age|SibSp|Parch|   Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+---------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0| PC 17599|71.2833|  C85|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+---------+-------+-----+--------+
only showing top 2 rows

In [ ]:
df = df.withColumnRenamed('Sex', 'sexo')\
.withColumnRenamed('Ticket', 'bilhete')\
.withColumnRenamed('Cabin', 'Cabine')\
.withColumnRenamed('survived', 'sobreviveu')\
.withColumnRenamed('Embarked', 'embarque')\
.withColumnRenamed('Age', 'idade')\
.withColumnRenamed('Fare', 'tarifa')\
.withColumnRenamed('Parch', 'n_pais_filhos')\
.withColumnRenamed('Pclass', 'classe')\
.withColumnRenamed('Name', 'Nome')
df.show(5)

+-----------+----------+------+--------------------+------+-----+-----+-------------+----------------+-------+------+--------+
|PassengerId|sobreviveu|classe|                Nome|  sexo|idade|SibSp|n_pais_filhos|         bilhete| tarifa|Cabine|embarque|
+-----------+----------+------+--------------------+------+-----+-----+-------------+----------------+-------+------+--------+
|          1|         0|     3|Braund, Mr. Owen ...|  male| 22.0|    1|            0|       A/5 21171|   7.25|  NULL|       S|
|          2|         1|     1|Cumings, Mrs. Joh...|female| 38.0|    1|            0|        PC 17599|71.2833|   C85|       C|
|          3|         1|     3|Heikkinen, Miss. ...|female| 26.0|    0|            0|STON/O2. 3101282|  7.925|  NULL|       S|
|          4|         1|     1|Futrelle, Mrs. Ja...|female| 35.0|    1|            0|          113803|   53.1|  C123|       S|
|          5|         0|     3|Allen, Mr. Willia...|  male| 35.0|    0|            0|          373450|   8.05|  NULL|       S|
+-----------+----------+------+--------------------+------+-----+-----+-------------+----------------+-------+------+--------+
only showing top 5 rows

In [ ]:
df.columns

['PassengerId',
 'sobreviveu',
 'classe',
 'Nome',
 'sexo',
 'idade',
 'SibSp',
 'n_pais_filhos',
 'bilhete',
 'tarifa',
 'Cabine',
 'embarque']

In [ ]:
for coluna in df.columns:
  print(coluna,df.filter(df[coluna].isNull()) .count())

PassengerId 0
sobreviveu 0
classe 0
Nome 0
sexo 0
idade 177
SibSp 0
n_pais_filhos 0
bilhete 0
tarifa 0
Cabine 687
embarque 2

SELECIONAR AS COLUNAS

In [ ]:
df.select('NOME','idade', 'SEXO').show(5)

+--------------------+-----+------+
|                NOME|idade|  SEXO|
+--------------------+-----+------+
|Braund, Mr. Owen ...| 22.0|  male|
|Cumings, Mrs. Joh...| 38.0|female|
|Heikkinen, Miss. ...| 26.0|female|
|Futrelle, Mrs. Ja...| 35.0|female|
|Allen, Mr. Willia...| 35.0|  male|
+--------------------+-----+------+
only showing top 5 rows

In [ ]:
df.select(col('nome'), col('sexo')).show(10)

+--------------------+------+
|                nome|  sexo|
+--------------------+------+
|Braund, Mr. Owen ...|  male|
|Cumings, Mrs. Joh...|female|
|Heikkinen, Miss. ...|female|
|Futrelle, Mrs. Ja...|female|
|Allen, Mr. Willia...|  male|
|    Moran, Mr. James|  male|
|McCarthy, Mr. Tim...|  male|
|Palsson, Master. ...|  male|
|Johnson, Mrs. Osc...|female|
|Nasser, Mrs. Nich...|female|
+--------------------+------+
only showing top 10 rows

SELECIONANDO COM ALIAS

In [ ]:
df.select(df['nome'].alias('defunto')).show(5)

+--------------------+
|             defunto|
+--------------------+
|Braund, Mr. Owen ...|
|Cumings, Mrs. Joh...|
|Heikkinen, Miss. ...|
|Futrelle, Mrs. Ja...|
|Allen, Mr. Willia...|
+--------------------+
only showing top 5 rows

In [ ]:
df.select(col('nome').alias('defunto')).show(5)

+--------------------+
|             defunto|
+--------------------+
|Braund, Mr. Owen ...|
|Cumings, Mrs. Joh...|
|Heikkinen, Miss. ...|
|Futrelle, Mrs. Ja...|
|Allen, Mr. Willia...|
+--------------------+
only showing top 5 rows